<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>

        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="@Url.Action("Index", "Product")" class="nav-link">Products</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                            @if (Session["userId"] == null)
                            {
                                <li class="navbar-item">
                                    <a href="/Account/Register">Register</a>
                                </li>
                                <li class="navbar-item">
                                    <a href="#" id="SignButton">Login</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a class=" nav-item dropdown-toggle" id="btnDropdownDemo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Profile
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
                                            <a class="dropdown-item" href="#">Sent</a>
                                            <a class="dropdown-item" href="#">My Orders</a>
                                            <a class="dropdown-item" href="#">Settings</a>
                                            <form method="post" action="@Url.Action("Logout", "Account")" id="signoutDropdown">
                                                <a class="dropdown-item" onclick="$('#signoutDropdown').submit()">Log Out</a>
                                            </form>
                                        </div>
                                    </div>

                                </li>

                            }
                        </ul>

                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    

    <div class="container body-content">
        @RenderBody()

     
        <footer>
            <div class="copy-right">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>(C) 2019. All Rights Reserved.</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="share align-middle">
                                <span class="fb"><i class="fa fa-facebook-official"></i></span>
                                <span class="instagram"><i class="fa fa-instagram"></i></span>
                                <span class="twitter"><i class="fa fa-twitter"></i></span>
                                <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                                <span class="google"><i class="fa fa-google-plus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/myapp.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
