@model Common.Models.ProductDetailModel
@{
    ViewBag.Title = "Details";
}

<style>

    body {
        font-family: 'Open Sans', sans-serif;
    }

    h2, h3 {
        font-family: 'Roboto Condensed', sans-serif;
    }

    .recommendedBooksContianer img {
        padding-bottom: 10px;
    }

    .genres-list {
        list-style: none;
        padding: 0px;
    }

    .genres-list li{
        padding-right:5px;
        float:left;
    }


    /*////////*/
    .read-more-state {
        display: none;
    }

    .read-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: .25s ease;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
    }

    .read-more-state ~ .read-more-trigger:before {
        content: 'Show more';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
        content: 'Show less';
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-first {
        opacity: 0;
    }

    .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 .5em;
        color: red;
        font-size: .9em;
        line-height: 2;
        border: 1px solid #ddd;
        border-radius: .25em;
    }

    </style>

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">

    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="d-flex flex-column align-items-center">
                        <img src="@Model.Product.Images" style="width:221px; height:325px" />
                    </div>
                </div>
                <div class="col-7 p-0 pl-3 ">
                    <div><h2>@Model.Product.Name</h2></div>
                    <hr />
                    <h5><span class="badge badge-primary">Book Owner: John Doe</span></h5>
                    
                    <h5><span class="badge badge-primary">Author: @Model.Product.AuthorName</span></h5>
                    <div>
                        <input type="checkbox" class="read-more-state" id="post-1" />
                        <p class="read-more-wrap">

                            @Model.Product.Description.Substring(0, 100)<span class="read-more-first">...</span><span class="read-more-target">
                            @Model.Product.Description.Substring(100, Model.Product.Description.Length - 100)
                            </span>
                        </p>
                        <label for="post-1" class="read-more-trigger"></label>
                    </div>
                    <hr />
                    <div>
                        <h4>Genres</h4>
                        <ul class="genres-list">
                            @foreach (var category in Model.Product.Categories)
                            {
                                <li><h5><span class="badge badge-pill badge-danger">@category</span></h5></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <h3>User Notes</h3>
                </div>
                <div>
                    <p>
                        @Model.Product.Notes
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 pr-0">
            <div class="d-flex align-items-center flex-column recommendedBooksContianer text-center">
                <h5>Recommended</h5>
                @foreach (var item in Model.RecommendedList)
                {
                    <a href="/Product/Details/@item.Id"><img src="@item.Images" style="width:87px; height:130px" /></a>
                }
            </div>
        </div>
    </div>

